<div class="container" id="sub_main_con" style="padding-top: 50px;">
  <h2>Problem: <%= @problem.id %></h2>
  <br>

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @problem.description %>
</p>

<p>
  <strong>Testcases:</strong>
  <%= simple_format @problem.testcases %>
</p>

<p>
  <strong>Input:</strong>
  <%= simple_format @problem.input %>
</p>

<p>
  <strong>Correct output:</strong>
  <%= simple_format @problem.correct_output %>
</p>

<%= button_to 'Edit', edit_problem_path(@problem) %>
  <br>
<%= button_to 'Back', problems_path %>
  <br>
<%= button_to 'Submit Solution', new_solution_path %>