<div id="home" class="hero-area">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay"></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="white-text">Code Camp</h1>
          <p class="lead white-text">Code Camp is online coding website for aspiring Computer Science students to
           practice problems on using various languages.</p>
          <%= link_to "Get Started", problems_path, :class => 'main-button icon-button' %>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">
        <div class="section-header">
          <h2>Welcome to Code Camp</h2>
          <p>We support a variety of languages to practice</p>
        </div>

        <!-- feature -->
        <div class="feature">
          <div class="row">
            <div class="col-md-3">
              <img src="/images/python-icon.png" height="200px" width="200px"/>
            </div>
            <div class="col-md-3">
              <img src="/images/c++-icon.png" height="200px" width="200px"/>
            </div>
            <div class="col-md-3">
              <img src="/images/c-icon.jpg" height="150px" width="150px"/>
            </div>
            <div class="col-md-3">
              <img src="/images/ruby-icon.png" height="200px" width="200px"/>
            </div>
          </div>
        </div>
    <!-- row -->

  </div>
  <!-- container -->
</div>
</div>
<!-- /About -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay"></div>
  <!-- Backgound Image -->

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <div class="col-md-8 col-md-offset-2 text-center">
        <a class="main-button icon-button" href="#">Contact Us Now</a>
      </div>

    </div>
    <!-- /row -->

  </div>
  <!-- /container -->

</div>
<!-- /Contact CTA -->

<!-- Footer -->
<footer id="footer" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <!-- footer logo -->
      <div class="col-md-6">
        <div class="footer-logo">
          <a class="logo" href="#">
            <img src="/images/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <!-- footer logo -->

      <!-- footer nav -->
      <div class="col-md-6">
        <ul class="footer-nav">
          <li><a href="/">Home</a></li>
          <li><%= link_to 'Login/SignUp', new_user_session_path %></li>
          <li><%= link_to 'Solutions', solutions_path %></li>
          <li><%= link_to 'Problems', problems_path %></li>
          <li><%= link_to 'Meet The Team' , team_path %></li>
        </ul>
      </div>
      <!-- /footer nav -->

    </div>
    <!-- /row -->

    <!-- row -->
    <div id="bottom-footer" class="row">

      <!-- copyright -->
      <div class="col-md-8 col-md-7">
        <div class="footer-copyright">
          <span>&copy; Copyright 2018. All Rights Reserved. | Made with <i class="fa fa-heart" aria-hidden="true"></i> by IE</span>
        </div>
      </div>
      <!-- /copyright -->

    </div>
    <!-- row -->

  </div>
  <!-- /container -->

</footer>
<!-- /Footer -->
