<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :solution_id %>
    <%= form.text_field :solution_id, id: :submission_solution_id %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result, id: :submission_result %>
  </div>

  <div class="field">
    <%= form.label :output %>
    <%= form.text_area :output, id: :submission_output %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
