<div class="container" id="sub_main_con" style="padding-top: 50px;">
  <h2>Submission: <%= @submission.id %></h2>
  <br>
<p>
  <strong>Solution:</strong>
  <%= @submission.solution_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @submission.result %>
</p>

<p>
  <strong>Output:</strong>
  <%= @submission.output %>
</p>
  <br>
<%= button_to 'Back', submissions_path %>
</div>