<%= form_with(model: solution, local: true) do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :submitted_by %>
    <%= form.text_field :submitted_by, id: :solution_submitted_by %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :solution_language %>
  </div>

  <div class="field">
    <%= form.label :problem_id %>
    <%= form.text_field :problem_id, id: :solution_problem_id %>
  </div>

  <div class="field">
    <%= form.label :output %>
    <%= form.text_area :output, id: :solution_output %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result, id: :solution_result %>
  </div>

  <p>
    <%= form.file_field :submitted_code %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
