<%= form_with(model: solution, local: true) do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :language %>
    <%= form.select :language, ['c', 'c++', 'ruby', 'python'], :prompt => "Select Language", :selected => 'c'%>
  </div>

  <div class="field">
    <%= form.label :problem_id %>
    <%= form.collection_select(:problem_id, Problem.all, :id, :title)%>
  </div>

  <p>
    <%= form.file_field :submitted_code %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
