<div class="container-fluid" id="sub_main_con" style="background-color: whitesmoke" >
<h1>Solutions</h1>

<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Submitted time</th>
      <th>Language</th>
      <th>Problem</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr class="solution">
        <td style="width: 5%"><%= solution.submitted_time %></td>
        <td style="width: 15%"><%= solution.language %></td>
        <td style="width: 100%"> <%= solution.problem_id %></td>
        <td><%= link_to 'Show', solution %></td>
        <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
        <td><%= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Back to Problems', problems_path %>
  <br>
  <br>
</div>