<div class="container-fluid" id="sub_main_con" style="background-color: whitesmoke";>
  <h2>Solution: <%= @solution.id %></h2>
  <br>
<p>
  <strong>Submitted by:</strong>
  <%= @solution.submitted_by %>
</p>

<p>
  <strong>Submitted time:</strong>
  <%= @solution.submitted_time %>
</p>

<p>
  <strong>Language:</strong>
  <%= @solution.language %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem_id %>
</p>


<%= button_to 'Edit', edit_solution_path(@solution) %>
  <br>
<%= button_to 'Back to Solutions', solutions_path %>
  <br>
<%= button_to 'Submit Solution', new_submission_path(:solution_id => @solution.id, :code_name => @solution.submitted_code_file_name) %>
<br>
  <br>
</div>