<p id="notice"><%= notice %></p>

<p>
  <strong>Submitted by:</strong>
  <%= @solution.submitted_by %>
</p>

<p>
  <strong>Submitted time:</strong>
  <%= @solution.submitted_time %>
</p>

<p>
  <strong>Language:</strong>
  <%= @solution.language %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem_id %>
</p>


<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back to Solutions', solutions_path %> |
<%= link_to 'Submit Solution', new_submission_path(:solution_id => @solution.id, :code_name => @solution.submitted_code_file_name) %>
