<header id="header" class="transparent-nav">
  <div class="container">

    <div class="navbar-header">
      <!-- Logo -->
      <div class="navbar-brand">
        <a class="logo" href="intro.html">
          <img src="/images/logo.png" alt="logo">
        </a>
      </div>
      <!-- /Logo -->

      <!-- Mobile toggle -->
      <button class="navbar-toggle">
        <span></span>
      </button>
      <!-- /Mobile toggle -->
    </div>
    <nav id="nav">
      <ul class="main-menu nav navbar-nav navbar-right">
        <li><%= link_to 'Solutions', solutions_path %></li>
        <li><%= link_to 'Problems', problems_path %></li>
        <li><%= link_to 'Submissions', submissions_path %></li>
        <li><%= link_to 'Site Admin', rails_admin_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </nav>
  </div>
</header>