<!DOCTYPE html>
<html>
  <head>
    <title>Hacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
    <%= render 'layouts/header' %>
    </div>
    <%= yield %>
  </body>
</html>
